@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web');


/*pink: #edc6a9*/

html {
    font-family: Halant, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    

}
body{
    background-color: #f8f7f2;
    width: 100%;
    
}



.only-on-desktop {
    display: none;
}




.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
   
}

.nav-main-menu {
   display:inline-flex ;
    float: right;
    width: 100%;
    margin-left: 300px;
    flex-direction: column;
    column-width: 10%;
    justify-content:center;
    flex-wrap: wrap;
    
}


.button {
   
    color: #011e26;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 1em;
    width: 20vw;
    float: right;
    margin-left: 180px;
    font-size: 20px;
    font-family: "Halant";
    
}
#about {
    margin-right: 110px;
    margin-left: -130px
}
#arrivals{
    margin-right: 100px;
    margin-left: -110px
}




.logo {
    width: 5em;
    height: auto;
    margin-left: 10px;
    padding: 10px;

}



header .logo {
    max-width: 200px;
    margin-bottom: 15px;
    display: block;
}

header .logo img {
    max-width: 100%;
}








.title {

    justify-content: center;
    text-align: center;
    margin: auto;
    flex-basis: 50%;
    font-size: 30px;
    padding-top: 30px;
    font-weight: 450;

}
#description{
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 350;
    line-height: 2;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
display: flex;
flex-direction: column}


#location{
    font-family: "Halant";
    font-weight: 400;
  width: 50%;
  padding: 10px;
grid-row-start: 2;
    text-align: center;
    
    
}
#opening{
    font-family: "Halant";
    font-weight: 400;
    margin-left: 4em;
    width: 50%;
    grid-row-start: 1;
    margin-top: 60px
}

    
p{
    font-family: "Montserrat";
    line-height: 0.5;
    margin-left: 4em;
    font-weight: 300;
    grid-row-start: 1;
    
}
#location{
    
    font-family: "Halant";
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    margin-top: 50px;
}


 
    .grid{
        display: grid;
        grid-template-columns: 50% 50%;
         
        
    }
    
    



/*NEW ARRIVALS*/

.carousel {
    position:relative;
    height: 400px; 
    width:80%; 
    margin: 0 auto; 
}

.carousel_image {
    width: 100%;
    height: 100%; 
}

. carousel_track-container {
    background: lightgreen;
    height: 100%; 
    position: relative; 
}

carousel_track {
    padding: 0;
    margin: 0;
    list-style: none; 

}

.carousel_slide {
    position: absolute; 
    top: 0;
    bottom: 0;
    width: 100%;
    

}





/*TABLET*/
@media screen and (min-width: 768px) {
    .container {
        flex-basis: 50%;
    }

    .button {
        width: 2vw;
    }

    .nav-main-menu {
        flex-basis: 65%;
        justify-content: space-around;
        flex-direction: row;
        max-height: 5em;
    }

    main {
        margin: 0 auto;
        padding: 0 75px;
    }

   


   

}

/*
 
/*DESKTOP*/

@media screen and (min-width: 1024px) {
    .only-on-desktop {
        display: block;
    }

    .container {
        flex-direction: row;
        justify-content: center;
    }

    .button {
        width: 10vw;
    }

    .nav-main-menu {
        flex-basis: 65%;
        justify-content: space-around;
        margin-bottom: 20px;
    }

  







/*Books in stock*/

.container {
  display: grid;
  grid-template-columns: 30% 22% 22% 22%;
  grid-gap: 30px;
  font-family: 'Lato';
  text-align: center;
  font-size: 1em;
  margin-left: 1px;
    width: 100%;
    height: 100%;
    padding-top: 3em;
}

.item {
  padding: 10px;
  font-size: 1.5em;
  
    width: 55%;
    
    
}

.a {
    
    grid-row-start: 1; 
width: 55%;
    margin-top: -2em;
    height: 25em;
    border: 1px solid black;

    
    
}

.b{
    grid-column-start: 2;
    text-align:center;
   
    
}
#categories{
    font-size: 30px;
    font-family: "Halant";
    font-weight: 400;
    background-color: antiquewhite;
    margin-top: -10;
    width: 105%;
    margin-bottom: 50px
        
    
}
.booktitle{
    font-size: 1em;
    font-family: "Halant";
    font-weight: 400;
    margin-bottom: 0
    
}

.author{
    font-size: 0.7em;
    font-family: "Halant";
    font-weight: 300;
    margin-top: 0;
        margin-bottom:0;
    
}

.price{
    
     font-size: 1.1em;
    font-family: "Halant";
    font-weight: 500;
    margin-top: 0
    
}
hr{ width: 90%;
    background-color: black;
    height: 1px;
        
       
}

#vertical{
    margin-bottom: 20px;
    background-color: black;
    width: 1px;
    height: 35px
}

#books{
    text-align: left;
    margin: auto;
    flex-basis: 50%;
    font-size: 30px;
    padding-top: 30px;
    font-weight: 450;
    margin-left: 30%;
  
}

#limit{
    
    margin-left: 20%;
   width: 70%
}


    
.genres{
    font-family: "halant";
width: 100%;
font-size: 20px;
    text-align: left;
    list-style: none;
  margin-left: -25px;
    margin-bottom: 25px;
    
    


}
    
    
    .buy{
        width: 45%;

        background-color: #E8C5BD;
        color: #011e26;
        border: 1px solid #011e26;
        border-radius: 20px;
        font-size: 15px;
        font-family: "Halant";
    
    }
    
    .reserve{
        width: 45%;
        
        background-color: #b7c5ce;
       color: #011e26;
        border: 1px solid #011e26;
        border-radius: 20px;
        font-size: 15px;
        font-family: "Halant"
        
    }
    
    
    
    
    
    
    
    

ul{
width: 100%;
 
    
    
    
}
   
    
    .faq{
        display: grid;
        grid-template-rows: 50% 50%;
        
    }
    ul{
        font-family: "Halant";
        font-size: 20px;
        list-style: none;
    }

    .QA1{
        grid-row-start: 1;
        width: 100%;
        
        
        
        
    }
    .QA2{
        
        grid-column-start: 2;
        width: 100%;
       
        
    }
    p{
        line-height: 1.5em;
    }
    footer{
        text-align: center;
        font-family: "Montserrat";
        font-size: 10px;
        margin-top: 50px
    }
    img{
        
        margin-top: 35px
    }
    
    
    
    .landingcontainer{
        
        margin-top: 15em;
        display: grid;
        grid-template-rows: 30% 30% 30%;
        
        
    }
    
    .firstpage{
        grid-row-start: 1;
        
    }
    
    .secondpage{
        
        grid-column-start: 2;
    }
    
    .thirdpage{
        
        
        grid-column-start: 3
    }
    
    .page{
        font-family: "Halant";
        color:#011e26;
        font-weight: 500;
        text-align: center;
        
        
    }
    #verticalx{
        width: 1px;
        height: 250px;
        background-color: black;
        float: right;
        margin-top: -30%;
            
        
    }
    
    
    .icon2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80px;
  height: 60px;
  cursor: pointer;
        margin-left: 3em;
        
}

.arrow2 {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 6px;
  background-color: #011e26;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  animation: arrow 700ms linear infinite;
margin-top: 12em;

    
    
    }

.arrow2::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 6px;
  top: -13px;
  right: -8px;
  background-color: #011e26;
  transform: rotate(45deg);
}

.arrow2::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 6px;
  top: 13px;
  right: -8px;
  background-color: #011e26;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}
    
    
     
    .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80px;
  height: 60px;
  cursor: pointer;
    margin-left: -25em
        
}

.arrow {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 6px;
  background-color: #011e26;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  animation: arrow 700ms linear infinite;
margin-top: 12em;

    
    
    }

.arrow::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 6px;
  top: -13px;
  right: -8px;
  background-color: #011e26;
  transform: rotate(45deg);
}

.arrow::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 6px;
  top: 13px;
  right: -8px;
  background-color: #011e26;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}
    
    
    
    
    
    
    
    .icon3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80px;
  height: 60px;
  cursor: pointer;
    margin-left: 30em
        
}

.arrow3 {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 6px;
  background-color: #011e26;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  animation: arrow 700ms linear infinite;
margin-top: 12em;

    
    
    }

.arrow3::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 6px;
  top: -13px;
  right: -8px;
  background-color: #011e26;
  transform: rotate(45deg);
}

.arrow3::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 6px;
  top: 13px;
  right: -8px;
  background-color: #011e26;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}
    
    
    
    
    
    
    